<head>
    <link rel="stylesheet" href="/css/main.css">
</head>
  
<h2><b><u> DETAIL OF USER <%= user.id %></u></b></h2>
<br>
<div>
    <ul>
        <li><b>ID:</b> <%= user.id %></li>
        <li><b>First Name:</b> <%= user.firstName %></li>
        <li><b>Last Name:</b> <%= user.lastName %></li>
        <li><b>Email:</b> <%= user.email %></li>
        <li><b>Password:</b> <%= user.password %></li>
        <li><b>Date of Birth:</b> <%= user.dob %></li>
        <li><b>Company:</b> <%= user.company %></li>
        <li><b>Phone:</b> <%= user.phone %></li>
      </ul>      
    <button class="btn btn-primary" onclick="history.back()">Back</button>
</div>
